/* ========== HEADER (mr-rt95) ========== */

/* Styles for small screens (mobile): 0–767px */
@media (max-width: 767px) {}

/* Styles for medium screens (tablet): 768px–1023px */
@media (min-width: 768px) and (max-width: 1023px) {}


/* Styles for large screens (desktop): 1024px and up */
@media (min-width: 1024px) {}


/* ========== Hero Section (Fidan) ========== */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.string{
    display: flex;
    
    flex-direction: column;

}


/* ========== Services Section (Inci) ========== */






/* ========== Blog Section (Laman)========== */





/* ========== Portfolio Section (Irana)========== */